.hero {
position: relative;

&__effect{
max-height: 400px;
animation: bg 5000ms ease-in infinite;
}

&__info {
background: white;
padding: 0 2rem;
position: relative;
}

&__text {
text-align: left;
padding: 2rem 1rem;
}

&__sat-img {
transform: translateY(-80px) translateX(80px);
}
}

.time {
position: absolute;
top: 1rem;
right: 2rem;
color:rgba(125, 125, 125, 0.8);
font-family: $montserrat;
}




.dots{
border: 3px solid $primary;
border-radius: 50%;
display: inline-block;
margin: 0.5rem auto;
position: relative;

&::before {
content: '';
position: absolute;
top: 0.5rem;
left: 50%;
transform: translateX(-50%);
display: block;
border: 3px solid $primary;
border-radius: 50%;
margin: 0.5rem auto;
}

&::after{
content: '';
position: absolute;
top: 1.5rem;
left: 50%;
transform: translateX(-50%);
display: block;
border: 3px solid $primary;
border-radius: 50%;
margin: 0.5rem auto;  
}
}

@keyframes bg {
0% {
background: rgba(0, 0, 0, 1);
}
50% {
background: rgba(85, 184, 135, .5);
}
100% {
background: rgba(85, 184, 135, 1);
}
}

