.news {
padding: 2em;
background: white;

&__title {
font-size: 1.5rem;
margin-bottom: 1rem;
}

h3 {
font-size: 1rem;
}



.search-pages {
padding: 2rem 0;
display: flex;
justify-content: space-between;

}



.btn--prev, .btn--next {
position: relative;
&:hover{
border-bottom: 1px solid $primary;
background: rgba($primary, .2);
}
}
}

.btn--prev::before {
content: '<';
display: inline;
color: black;
font-size: 1rem;
}

.btn--next::after {
    content: '>';
    display: inline;
    color: black;
    font-size: 1rem;
    }


.buttons {
display: flex;
justify-content: space-between;
align-items: center;
}



#newsRes {
display: flex;
flex-direction: column;
justify-content: space-between;

 a {
text-decoration: none !important;
position: relative;
overflow: hidden;
}


h3 {
margin: 1rem 0;
position: relative;

&::before {
    content: '';
    border: 5px solid $primary;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: -100px;
    transition: left 250ms ease-in-out;
    }
}

&:hover h3::before {
left: -18px;
}
}

#singleNews {
position: relative;
}

.thumbnail {
width: 50%;

}

.like-btn {



 i {
font-size: 2.5rem;
margin-left: auto;
}
}


.likes {
border: 2px solid rgba($primary, .2);
outline: 1px solid $primary;
outline-offset: 5px;
padding: 2em;
margin-top: 1em;
box-shadow: 5px 5px 10px rgba(0,0,0, .5);

h3{
text-transform: uppercase;
font-weight: bold;
letter-spacing: 3px;
color: $primary
}
}

#liked-news {
margin: 0;
padding: 0;
width: 100%;
list-style: none;


& a {
color: black;
text-decoration: none;

}
}


@media(min-width: 500px) {
.thumbnail {
width: 20%;

}
}