.planets {
background-image: url("./assets/planet-bg.png");
background-position: center;
background-attachment: fixed;
position: relative;
display: flex;
justify-content: space-around;


&__objects{
display: flex;
justify-content: space-between;
width: 100%;
}

&__objects img {
height: 100px;
width:100px;
}


.venus img, .jupiter img {
width:140px;
}

.sun img {
-webkit-filter: drop-shadow(5px 5px 10px rgba(252, 169, 159, 0.3),);
}


.object img:hover {
-webkit-filter: drop-shadow(0 1px 7px rgba(186, 247, 206, 0.3));
}


& div a {
cursor: pointer;
}
}

.planet-results {
position: relative;

.btn-close-rounded {
position: absolute;
top: 0;
right: 0;
}
}


@media(max-width: 800px) {
    .planets .sun img {
        height: 80px;
        width:100px;
    }
    .planets__objects img {
        height: 40px;
        width:40px;
    }

    .planets .venus img,  .planets .jupiter img {
        width:50px;
        }

    .planet-results img {
    margin-left: 4em;
    }
    }